.Person {
    width: 60%;
    margin: 8px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    background-color: #cee1e6;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
        border: 1px solid grey;
    }
}